[registries.crates-io]
protocol = "sparse"

[target.aarch64-pc-windows-msvc]
rustflags = [
      # For Windows static msvcrt linking with no need for dll re-distribution.
      "-C", "target-feature=+crt-static"
]

[target.x86_64-pc-windows-msvc]
rustflags = [
    # For Windows static msvcrt linking with no need for dll re-distribution.
    "-C", "target-feature=+crt-static"
]
