# The various archive types fetched for the examples.
*.jar
*.pex
*.tar.gz
*.tar.xz
*.zip

# The ptex binary fetched for some examples.
ptex-*

# The scie-jump binary fetched for some examples.
scie-jump-*
