name: CI
on: [push, pull_request]
defaults:
  run:
    shell: bash
env:
  CARGO_TERM_COLOR: always
concurrency:
  group: CI-${{ github.ref }}
  # Queue on all branches and tags, but only cancel overlapping PR burns.
  cancel-in-progress: ${{ github.ref != 'refs/heads/main' || !startsWith(github.ref, 'refs/tags/') }}
jobs:
  org-check:
    name: Check GitHub Organization
    if: github.repository_owner == 'a-scie'
    runs-on: ubuntu-20.04
    steps:
      - name: Noop
        run: "true"
  ci:
    name: (${{ matrix.os }}) CI
    needs: org-check
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
          - os: ubuntu-20.04
            arch: linux-x86_64
          - os: macos-11
            arch: macos-x86_64
          - os: macos-13-aarch64
            arch: macos-aarch64
          - os: windows-2022
            arch: windows-x86_64
    steps:
      - uses: actions/checkout@v3
      - name: Check Formatting
        run: cargo fmt --check --all
      - name: Lint
        run: cargo clippy --all
      - name: Unit Tests
        run: cargo test --all
      - name: Build & Package
        run: cargo run --release -p package dist
      - name: Integration Tests
        run: examples/run.sh
