name: CI
on:
  push:
    branches-ignore:
      - dependabot/**
  pull_request:
defaults:
  run:
    shell: bash
concurrency:
  group: CI-${{ github.ref }}
  # Queue on all branches and tags, but only cancel overlapping PR burns.
  cancel-in-progress: ${{ github.ref != 'refs/heads/main' && !startsWith(github.ref, 'refs/tags/') }}
jobs:
  org-check:
    name: Check GitHub Organization
    if: github.repository_owner == 'a-scie'
    runs-on: ubuntu-24.04
    steps:
      - name: Noop
        run: "true"
  ci:
    name: ${{ matrix.name }} CI
    needs: org-check
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        # N.B.: macos-14 is the oldest non-deprecated ARM Mac runner.
        include:
          - os: ubuntu-24.04
            name: Linux x86-64 (glibc)
            image: quay.io/pypa/manylinux2014_x86_64
            arch: amd64
            suffix-args: --suffix gnu-linux-x86_64
          - os: ubuntu-24.04
            name: Linux x86-64 (musl)
            image: quay.io/pypa/musllinux_1_2_x86_64
            arch: amd64
            install: apk add bzip2-static
            suffix-args: --suffix musl-linux-x86_64
          - os: ubuntu-24.04-arm
            name: Linux aarch64 (glibc)
            image: quay.io/pypa/manylinux2014_aarch64
            arch: arm64
            suffix-args: --suffix gnu-linux-aarch64
          - os: ubuntu-24.04-arm
            name: Linux aarch64 (musl)
            image: quay.io/pypa/musllinux_1_2_aarch64
            arch: arm64
            install: apk add bzip2-static
            suffix-args: --suffix musl-linux-aarch64
          - os: ubuntu-24.04
            name: Linux armv7l
            image: quay.io/pypa/manylinux_2_31_armv7l
            arch: arm/v7
          - os: ubuntu-24.04
            name: Linux riscv64
            image: quay.io/pypa/manylinux_2_39_riscv64
            arch: riscv64
          - os: ubuntu-24.04
            name: Linux s390x
            image: quay.io/pypa/manylinux2014_s390x
            arch: s390x
          - os: ubuntu-24.04
            name: Linux powerpc64le
            image: quay.io/pypa/manylinux2014_ppc64le
            arch: ppc64le
          - os: macos-x86_64
            name: macOS x86-64
          - os: macos-14
            name: macOS aarch64
          - os: windows-2022
            name: Windows x86-64
          - os: windows-11-arm
            name: Windows aarch64
    steps:
      - uses: actions/checkout@v4
      - name: Install rustup on Windows ARM
        if: matrix.os == 'windows-11-arm'
        uses: actions-rust-lang/setup-rust-toolchain@v1
      - name: Run Checks
        if: matrix.image == ''
        run: |
          rustup toolchain add nightly -c rustfmt && \
          cargo +nightly fmt --check --all && \
          cargo clippy --locked --all && \
          cargo test --all && \
          cargo run -p package
      - name: Run Checks
        if: matrix.image != ''
        run: |
          docker run --privileged --rm tonistiigi/binfmt --install linux/${{ matrix.arch }}
          docker run \
            --rm \
            -v $PWD:/code \
            -w /code \
            --platform linux/${{ matrix.arch }} ${{ matrix.image }} sh -c '
              ${{ matrix.install }}
              curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | \
                sh -s -- -y --profile minimal --default-toolchain none && \
              . "$HOME/.cargo/env" && \
              rustup toolchain add nightly -c rustfmt && \
              cargo +nightly fmt --check --all && \
              cargo clippy --locked --all && \
              cargo test --all && \
              cargo run -p package -- ${{ matrix.suffix-args }}
            '
      - name: Integration Tests
        if: matrix.image == ''
        run: examples/run.sh --no-package
      - name: Integration Tests
        if: matrix.image != ''
        run: |
          docker run --rm \
            -v $PWD:/code \
            -w /code \
            --platform linux/${{ matrix.arch }} \
            ubuntu:24.04 \
              bash -c "
                apt-get update &&
                apt-get --no-install-recommends install -y git jq curl ca-certificates &&
                git config --global --add safe.directory /code &&
                ./examples/run.sh --no-package ${{ matrix.suffix-args }}
              "
