name: CI
on: [push, pull_request]
defaults:
  run:
    shell: bash
env:
  CARGO_TERM_COLOR: always
concurrency:
  group: CI-${{ github.ref }}
  # Queue on all branches and tags, but only cancel overlapping PR burns.
  cancel-in-progress: ${{ github.ref != 'refs/heads/main' || !startsWith(github.ref, 'refs/tags/') }}
jobs:
  org-check:
    name: Check GitHub Organization
    if: ${{ github.repository_owner == 'a-scie' }}
    runs-on: ubuntu-20.04
    steps:
      - name: Noop
        run: "true"
  ci:
    name: (${{ matrix.os }}) CI
    needs: org-check
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ ubuntu-20.04, macos-11, windows-2022 ]
    steps:
      - uses: actions/checkout@v3
      - name: Check Formatting
        run: cargo fmt --check --all
      - name: Lint
        run: cargo clippy --all
      - name: Test
        run: cargo test --all
      - name: Build
        run: cargo build
      - name: Package
        run: cargo run -p package
