name: CI
on:
  push:
    branches-ignore:
      - dependabot/**
  pull_request:
defaults:
  run:
    shell: bash
concurrency:
  group: CI-${{ github.ref }}
  # Queue on all branches and tags, but only cancel overlapping PR burns.
  cancel-in-progress: ${{ github.ref != 'refs/heads/main' || !startsWith(github.ref, 'refs/tags/') }}
jobs:
  org-check:
    name: Check GitHub Organization
    if: github.repository_owner == 'a-scie'
    runs-on: ubuntu-20.04
    steps:
      - name: Noop
        run: "true"
  ci:
    name: (${{ matrix.os }}) CI
    needs: org-check
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-20.04, macos-11, macos-13-aarch64, windows-2022]
    steps:
      - uses: actions/checkout@v3
      - name: Check Formatting
        run: |
          rustup toolchain add nightly -c rustfmt
          cargo +nightly fmt --check --all
      - name: Lint
        run: cargo clippy --all
      - name: Unit Tests
        run: cargo test --all
      - name: Build & Package
        if: ${{ matrix.os != 'ubuntu-20.04' }}
        run: cargo run -p package
      - name: Build & Package
        if: ${{ matrix.os == 'ubuntu-20.04' }}
        run: |
          mkdir dist
          docker run --rm \
            -v $PWD:/code \
            -w /code \
            rust:1.65.0-alpine3.15 \
              cargo run -p package
      - name: Integration Tests
        run: examples/run.sh --no-package
