name: Release
on:
  push:
    tags:
      - v[0-9]+.[0-9]+.[0-9]+
  workflow_dispatch:
    inputs:
      tag:
        description: The tag to manually run a deploy for.
        required: true
jobs:
  org-check:
    name: Check GitHub Organization
    if: ${{ github.repository_owner == 'a-scie' }}
    runs-on: ubuntu-24.04
    steps:
      - name: Noop
        run: "true"
  determine-tag:
    name: Determine the release tag to operate against.
    needs: org-check
    runs-on: ubuntu-24.04
    outputs:
      release-tag: ${{ steps.determine-tag.outputs.release-tag }}
      release-version: ${{ steps.determine-tag.outputs.release-version }}
    steps:
      - name: Determine Tag
        id: determine-tag
        run: |
          if [[ -n "${{ github.event.inputs.tag }}" ]]; then
            RELEASE_TAG=${{ github.event.inputs.tag }}
          else
            RELEASE_TAG=${GITHUB_REF#refs/tags/}
          fi
          if [[ "${RELEASE_TAG}" =~ ^v[0-9]+.[0-9]+.[0-9]+$ ]]; then
            echo "release-tag=${RELEASE_TAG}" >> $GITHUB_OUTPUT
            echo "release-version=${RELEASE_TAG#v}" >> $GITHUB_OUTPUT
          else
            echo "::error::Release tag '${RELEASE_TAG}' must match 'v\d+.\d+.\d+'."
            exit 1
          fi
  github-release:
    name: ${{ matrix.name }} Create Github Release
    needs: determine-tag
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        # N.B.: macos-14 is the oldest non-deprecated ARM Mac runner.
        include:
          - os: ubuntu-24.04
            name: Linux x86-64 (default)
            cross-target: x86_64-unknown-linux-musl
          - os: ubuntu-24.04
            name: Linux x86-64 (glibc)
            cross-target: x86_64-unknown-linux-gnu
            suffix-args: --suffix gnu-linux-x86_64
          - os: ubuntu-24.04
            name: Linux x86-64 (musl)
            cross-target: x86_64-unknown-linux-musl
            suffix-args: --suffix musl-linux-x86_64
          - os: ubuntu-24.04
            name: Linux aarch64  (default)
            cross-target: aarch64-unknown-linux-musl
          - os: ubuntu-24.04
            name: Linux aarch64 (glibc)
            cross-target: aarch64-unknown-linux-gnu
            suffix-args: --suffix gnu-linux-aarch64
          - os: ubuntu-24.04
            name: Linux aarch64  (musl)
            cross-target: aarch64-unknown-linux-musl
            suffix-args: --suffix musl-linux-aarch64
          - os: ubuntu-24.04
            name: Linux armv7l
            cross-target: armv7-unknown-linux-musleabihf
          - os: ubuntu-24.04
            name: Linux riscv64
            cross-target: riscv64gc-unknown-linux-gnu
          - os: ubuntu-24.04
            name: Linux s390x
            cross-target: s390x-unknown-linux-gnu
          - os: ubuntu-24.04
            name: Linux powerpc64le
            cross-target: powerpc64le-unknown-linux-gnu
          - os: macos-x86_64
            name: macOS x86-64
          - os: macos-14
            name: macOS aarch64
          - os: windows-2022
            name: Windows x86-64
          - os: windows-11-arm
            name: Windows aarch64
    environment: Release
    permissions:
      id-token: write
      attestations: write
      contents: write
      discussions: write
    steps:
      - name: Checkout scie-jump ${{ needs.determine-tag.outputs.release-tag }}
        uses: actions/checkout@v4
        with:
          ref: ${{ needs.determine-tag.outputs.release-tag }}
      - name: Install rustup on Windows ARM
        if: matrix.os == 'windows-11-arm'
        uses: actions-rust-lang/setup-rust-toolchain@v1
      - name: Package scie-jump ${{ needs.determine-tag.outputs.release-tag }} binary
        if: matrix.cross-target == ''
        run: cargo run -p package -- ${{ matrix.suffix-args }}
      - name: Package scie-jump ${{ needs.determine-tag.outputs.release-tag }} binary
        if: matrix.cross-target != ''
        run: |
          cargo install cross --locked \
            --git https://github.com/cross-rs/cross --rev 49cd054de9b832dfc11a4895c72b0aef533b5c6a
          cross run -p package --target ${{ matrix.cross-target }} -- ${{ matrix.suffix-args }}
      - name: Generate scie-jump ${{ needs.determine-tag.outputs.release-tag }} artifact attestations
        uses: actions/attest-build-provenance@v1
        with:
          subject-path: dist/scie-jump*
      - name: Prepare Changelog
        id: prepare-changelog
        uses: a-scie/actions/changelog@v1.6
        with:
          changelog-file: ${{ github.workspace }}/CHANGES.md
          version: ${{ needs.determine-tag.outputs.release-version }}
      - name: Create ${{ needs.determine-tag.outputs.release-tag }} Release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: ${{ needs.determine-tag.outputs.release-tag }}
          name: scie-jump ${{ needs.determine-tag.outputs.release-version }}
          body_path: ${{ steps.prepare-changelog.outputs.changelog-file }}
          draft: false
          prerelease: false
          files: dist/scie-jump*
          fail_on_unmatched_files: true
          discussion_category_name: Announcements
